body {
    font-family: Arial, sans-serif;
}

.cards__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .25rem;
}

.card {
    padding: 1rem;
    border: 1px solid #a8a8a8
}

.product__spec {
    color: #a1a1a1;
    font-size: 0.5rem;
    margin-bottom: 0.5em;
}

.product__name {
    font-weight: bold;
    font-size: .75rem;
    margin-bottom: .5em;
}

.product__img {
    object-fit: contain;
    max-height: 190px;
}

.product__price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.product {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.product__rating {
    content: "\E90A\E90A\E90A\E90A\E90A";
    color: rgb(255, 230, 0);
}

.product__availability {
    font-size: 0.5rem;
}

.text--green {
    color: green;
}